.photoImg{
    width: 860px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    margin-left: 450px;
}

.quanjingtu{
    z-index: 9998;
    left: 300px;
    top: 10%;
    position: absolute;
}

.App canvas{
    width: 1244px !important;
    height: 665px !important;
}
.quanjingtu1{
    z-index: 9998;
}
.buttons{
    position: absolute;
    left: 8%;
    top: 25%;
    z-index: 9998;
    background-color: brown;
}
.buttonsItem{
    padding: 10px 20px; 
    margin: 5px; 
    border: 1px solid #007bff; 
    background-color: #007bff; 
    color: white; 
    text-align: center;
    cursor: pointer; 
    user-select: none; 
    transition: background-color 0.3s ease;
}
.buttonsItem:hover {
    background-color: #0056b3; 
}
/* .buttons-top{
    display: flex;
}
.buttons-bottom{
    display: flex;
} */
.czt{
    background-color: brown !important;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.labelCZT{
    color: aqua;
    margin-left: 10px;
}
.qiantai {
    min-width: 100px;
    min-height: 480px;
    background: blue;
    position: absolute;
    top: 203px;
    left: 520px;
    z-index: 9999; 
    background: rgba(0, 0, 0, 0);
  }


.zhenshi{
    width: 120px;
    height: 70px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top: 440px;
    left: 630px;
    z-index: 9999; 
    background: rgba(0, 0, 0, 0);
}

.dangan{
    width: 120px;
    height: 64px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top: 340px;
    left: 620px;
}

.shoushu{
    width: 120px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 930px;
    background:rgba(0, 0, 0, 0);
    
}
.zhuyuan{
    width: 150px;
    height: 664px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top: 100px;
    left: 1240px;
}
.jiancha{
    width: 150px;
    height: 128px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top: 700px;
    left: 940px;
}
.sszbs{
    width: 280px;
    height: 104px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top: 110px;
    left: 640px;
}
.zhushe{
    width: 80px;
    height: 100px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top: 100px;
    left: 510px;
}
.yaofang{
    width: 100px;
    height: 110px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top:220px;
    left: 650px;
}
.huayan{
    width: 100px;
    height: 110px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top:700px;
    left: 760px;
}
.yingxiang{
    width: 100px;
    height: 370px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top:250px;
    left: 950px;
}
.chuzhi{
    width: 100px;
    height: 70px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top:520px;
    left: 640px;
}
.mianyi{
    width: 100px;
    height: 100px;
    background:rgba(0, 0, 0, 0);
    position: absolute;
    top:700px;
    left: 520px;
}


.icon{
    width: 70px;
    height: 70px;
}

.selectDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left:8%;
    top: 60%;
    z-index: 9999;
    font-size: large;
    color: white;
}

.selectChar{
    border: none;
    background-color:transparent;
}
.selectChar .option {
    background-color: transparent;
}

.imgLC{
    width: 400px;
    height: 400px;
    margin-top: 20px;
}
.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}