.form-container {
    background-color: white;
    /* 设置背景颜色 */
    padding: 20px;
    /* 设置内边距 */
    border: 1px solid #ddd;
    /* 设置边框 */
    border-radius: 5px;
    /* 设置边框圆角 */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* 设置阴影 */
    /* width: 100vw; */
    /* 设置宽度 */

}