ul {
    list-style: none;
    width: 200px;
    height: 100vh;
    background-color: #2a3f54;
    transform: all 0.5s;
    overflow: hidden;
}

ul li {
    height: 70px;
    margin-bottom: 10px;
}

ul li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

ul li:first-child img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul li:first-child span {
    color: #fff;
    white-space: nowrap;
    padding-left: 10px;
    display: none;
}

ul li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #d1d1d1;
    text-decoration: none;
}

ul li a i {
    font-size: 18px;
    margin: 0 15px 0 30px;
}

ul li a span {
    font-size: 14px;
    white-space: nowrap;
}

ul li a:hover {
    color: #fff;
    background-color: #35495d;
}

ul li:first-child {
    justify-content: flex-start;
}

ul li:first-child span {
    display: block;
}